header {
    padding: 1.5rem;
    background: var(--bs-dark);
    width: 100%;
}

header h1 {
    line-height: 1.4;
    font-size: 26px;
    font-weight: bold;
    font-family: var(--bs-font-monospace);
    text-transform: uppercase;
}
.bracket {
    color: var(--bs-white);
}

.logo-green {
    color:var(--bs-logo-green);
}