section {
    min-height: 90vh;
    /* border: 3px solid rgb(25, 0, 255); */
    background: var(--bs-dark);
}
.m-0 {
    margin: 0 auto;
}
.mr-t-b-10 {
    margin-top: 10px;
    margin-bottom: 10px; 
}

.mr-t-05 {
    margin-top: 50px;
}

.mr-t-1 {
    margin-top: 100px;
}

.mr-b-1 {
    margin-bottom: 100px; 
}

.mr-l-6 {
    margin-left: 60px;
}

section .bubble {
    font-size: 60px;
    text-transform: capitalize;
    color: var(--bs-aqua-light);
    font-weight: bold;
    font-family: var(--bs-font-monospace);
    word-wrap: break-word; 
}

.text-center {
    text-align: center;
}

.text-left {
   text-align: left; 
}

.d-flex {
    display: flex;
}

.justify-content-center {
    
    justify-content: center;
}

.align-items-center {
        align-items: center;    
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.card {
    height: 204px; 
    top: 0px; 
    background-color: var(--bs-dark);
    border-style: solid; 
    border-width: 2px; 
    border-color: var(--bs-aqua-light);
    border-radius: 30px; 
    width: 500px; 
    left: 0px;
}
.card-img {
    width: 150px;
    height: 150px;
    padding: 10px;
}
