@import url('../fonts/robotoslab.woff2');
@import url('../fonts/spacemono.woff2');
@import url('../fonts/spacemonoru.ttf');
@import url('./core.css');
@import url('./reset.css');
@import url('./root.css');
@import url('./bloks/header.css');
@import url('./bloks/main.css');
@import url('./bloks/section.css');
@import url('./bloks/button.css');
@import url('./bloks/footer.css');